<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Hub</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body class="no-scroll">

    <header class="header phone-header">
        <h1>Telia Digital Hub</h1>
    </header>

    <div class="two-columns end phone-container">
            <div class="column phone-component">
                <div class="component skoor">
                    <p>Aitäh vastamast!<br> Sinu skoor: <%= score %>/21 
                        <span class="circle <%= grade %>"></span>
                    </p>
                </div>
                <div class="component">
                    <form action="/finalize" method="POST">
                        <label for="email" class="form-label">Võtame Teiega ühendust:</label>
                        <input type="email" class="form-control" id="email" name="email" required placeholder="Email">
                        <button type="submit" class="button">Salvesta vastus</button>
                    </form>
                    <form action="/start-over" method="POST">
                        <button type="submit" class="button">Algusesse</button>
                    </form>
                </div>
            </div>
            <div class="column">
                <div class="component greeninfo">
                    <p>Suurepärane! Sinu ettevõtte IT otsustes paistab selgelt välja keskkonnasõbralik mõtteviis. Olete teinud mitmeid samme, mis on teinud teie IT lahendused efektiivseks. Kui soovid teada, mida veel saaksid teha, siis võta Teliaga ühendust.</p>
                </div>
                <div class="component yellowinfo">
                    <p>Hea töö! Sinu ettevõtte IT otsustes peegelduvad keskkonnasõbralikud väärtused ning oled juba leidnud viise oma IT lahenduste efektiivseks korraldamiseks. Mõnes valdkonnas on siiski arenguruumi ja Telia saab sind nende valikult toetada.</p>
                </div>
                <div class="component redinfo">
                    <p>Veel on arenguruumi. Tundub, et keskkonnahoid ei ole seni olnud sinu IT otsustes oluline. Keskkonnasäästlikkus ja efektiivsus käivad aga sageli käsikäes ning Telia saab aidata sul saavutada efektiivsust ja keskkonnahoidu. Võta meiega ühendust, et arutada, kuidas saame sind toetada.</p>
                </div>
            </div>
    </div>

    <footer class="footer phone-footer">
        <p>Telia Eesti AS</p>
        <p>Telia is a registered Trademark of Telia Company AB</p>
      </footer>
</body>
</html>
