<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Hub</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body class="no-scroll">

    <header class="header">
        <h1>Telia Digital Hub</h1>
    </header>

    <div class="two-columns end">
            <div class="column">
                <div class="component skoor">
                    <p>Aitäh vastamast!<br> Sinu skoor: <%= score %>/21 
                        <span class="circle <%= grade %>"></span>
                    </p>
                </div>
                <div class="component">
                    <form action="/finalize" method="POST">
                        <label for="email" class="form-label">Võtame Teiega ühendust:</label>
                        <input type="email" class="form-control" id="email" name="email" required placeholder="Email">
                        <button type="submit" class="button">Saada vastus</button>
                    </form>
                    <form action="/start-over" method="POST">
                        <button type="submit" class="button">Algusesse</button>
                    </form>
                </div>
            </div>
            <div class="column">
                <div class="component greeninfo">
                    <p>Väga hea! Keskkonnasäästlik mõtteviis on paista sinu ettevõtte IT otsustes. Oled teinud juba enamasti otsuseid, mis on sinu IT teinud efektiivsemaks ja keskkonda hoidvamaks. Kui tunned huvi, mida veel teha saad, siis võta Teliaga ühendust.</p>
                </div>
                <div class="component yellowinfo">
                    <p>Pole paha! Sinu ettevõtte IT otsuseid on suunanud ka keskkonnahoidlik mõtlemine ja oled juba leidnud viise, kuidas oma IT-d efektiivselt korraldada. Mõnedes kohtades on veel paranemisruumi ja Telia saab sind aidata.</p>
                </div>
                <div class="component redinfo">
                    <p>Paranemisruumi veel on. Tundub, et keskkonnahoid ei ole praegu veel olnud tähelepanu all kui oled teinud IT otsuseid. Keskkonna hoid ja efektiivsus käivad tihti käsikäes ja Telia saaks aidata sul liikuda kiiremini efektiivsuse suunas. Võta meiega ühendust ja räägime täpsemalt.</p>
                </div>
            </div>
    </div>

    <footer class="footer">
        <p>Telia Eesti AS</p>
        <p>Telia is a registered Trademark of Telia Company AB</p>
      </footer>
</body>
</html>
